<h3>Confirmation de demande de contact</h3>

<p>Bonjour {{ name }},</p>

<p>Nous avons bien reçu votre demande de contact. Voici les détails de votre soumission :</p>
<ul>
    <li>Nom : {{ name }}</li>
    <li>Email : {{ email }}</li>
    <li>Statut Téléphonique : {{ phone }}</li>
    <li>Lieu : {{ location }}</li>
    <li>Type de Formation : {{ formationType }}</li>
    <li>Nombre de Personnes : {{ numberOfPersons }}</li>
    <li>Message : {{ message }}</li>
</ul>

<p>Nous vous contacterons dans les plus brefs délais pour répondre à votre demande.</p>

<p>Merci de votre intérêt pour nos services.</p>

<p>Cordialement,</p>
<p>L'équipe de formation</p>
