<p>Nouvelle soumission de formulaire de contact :</p>
<ul>
    <li>Nom : {{ name }}</li>
    <li>Email : {{ email }}</li>
    <li>Statut Téléphonique : {{ phone }}</li>
    <li>Lieu : {{ location }}</li>
    <li>Type de Formation : {{ formationType }}</li>
    <li>Nombre de Personnes : {{ numberOfPersons }}</li>
    <li>Message : {{ message }}</li>
</ul>